In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
df=pd.read_csv("Supplement_Sales_Weekly_Expanded.csv")

In [3]:
print(df.head())

         Date  Product Name     Category  Units Sold  Price  Revenue  \
0  2020-01-06  Whey Protein      Protein         143  31.98  4573.14
1  2020-01-06     Vitamin C      Vitamin         139  42.51  5908.89
2  2020-01-06      Fish Oil        Omega         161  12.91  2078.51
3  2020-01-06  Multivitamin      Vitamin         140  16.07  2249.80
4  2020-01-06   Pre-Workout  Performance         157  35.47  5568.79

   Discount  Units Returned Location Platform
0      0.03               2   Canada  Walmart
1      0.04               0       UK   Amazon
2      0.25               0   Canada   Amazon
3      0.08               0   Canada  Walmart
4      0.25               3   Canada    iHerb

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4384 entries, 0 to 4383
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            4384 non-null   object
 1   Product Name    4384 non-null   object
 2   Category        4384 non-null   object
 3   Units Sold      4384 non-null   int64
 4   Price           4384 non-null   float64
 5   Revenue         4384 non-null   float64
 6   Discount        4384 non-null   float64
 7   Units Returned  4384 non-null   int64
 8   Location        4384 non-null   object
 9   Platform        4384 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 342.6+ KB
None

In [8]:
df.isna().sum()

Date              0
Product Name      0
Category          0
Units Sold        0
Price             0
Revenue           0
Discount          0
Units Returned    0
Location          0
Platform          0
dtype: int64

In [9]:
print(df.duplicated().sum())

0

In [10]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4384 entries, 0 to 4383
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            4384 non-null   datetime64[ns]
 1   Product Name    4384 non-null   object
 2   Category        4384 non-null   object
 3   Units Sold      4384 non-null   int64
 4   Price           4384 non-null   float64
 5   Revenue         4384 non-null   float64
 6   Discount        4384 non-null   float64
 7   Units Returned  4384 non-null   int64
 8   Location        4384 non-null   object
 9   Platform        4384 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 342.6+ KB
None

In [ ]:
cat_cols = ['Product Name', 'Category', 'Location', 'Platform']
for col in cat_cols:
    print(col, df[col].unique()[:10])

Product Name ['Whey Protein' 'Vitamin C' 'Fish Oil' 'Multivitamin' 'Pre-Workout' 'BCAA'
 'Creatine' 'Zinc' 'Collagen Peptides' 'Magnesium']
Category ['Protein' 'Vitamin' 'Omega' 'Performance' 'Amino Acid' 'Mineral' 'Herbal'
 'Sleep Aid' 'Fat Burner' 'Hydration']
Location ['Canada' 'UK' 'USA']
Platform ['Walmart' 'Amazon' 'iHerb']